{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

    <title>You.Signs</title>

    <style type="text/css">
    .container {background-color: white}
    
    .row.no-pad {
      margin-right:0;
      margin-left:0;
    }
    .row.no-pad > [class*='col-'] {
      padding-right:0;
      padding-left:0;
    }
    body{
      background-color:#80eaed
      
      .btn-danger{
        background-color: #0000FF;
      }
      .btn-danger a:hover{
        background-color: #00FF00;
      }
    </style>
  
  </head>
    
  
  <body>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-10">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'logo.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img1.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img2.png' %}" class="d-block w-100" alt="...">
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="row no-pad">
              
              <ul class="nav nav-tabs py-2">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand" href="http://127.0.0.1:8000/">You.Signs</a>
                  <li class="nav-item">
                    <a class="nav-link active" href="">Horóscopo Mensal</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Horóscopo Anual</a>
                    </li>
                  <form action="{% url 'search' %}" method="get">
                      <input name="q" type="text" placeholder="Pesquisa...">
                      <input type="submit" value="Pesquisar">
                      </form><br>
                </ul>
                    
              
              </div>
             

          
              <a href="{% url 'login'%}">Cadastre-se!</a>



              {% for category in categorys %}
                  <a href="{% url 'category-detail' category.pk %}">{{category.name}}</a>
              {% endfor %}
              
              {% block content %}
              <!--O QUE EU QUERO QUE APAREÇA SO NESSA PAGINA-->
              {% endblock %}
        </div>
      </div>
    </div>
      
  </body>
 
</html>
