{% extends "blog/base.html"%}

{% block content %}
  {% for post in object_list %}
  <h4>{{ post }}</h4>
  <p>{{ post.description }}</p>
  <b>Author: </b> {{ post.author }}
----  {% endfor %}
{% endblock %}