{% extends "blog/base.html" %}

{% block content %}
<h3 class="my-4">{{ object.title }}</h3>
Postado em: {{ object.created_at }} |
Por: {{ object.author }} |
Categoria: {{ object.category }}
<br><img src="{{ object.banner.url }}" class="img-fluid">
<p>{{ object.text|safe }}</p>

<form method="POST" action="{% url 'comment' %}">
    {% csrf_token %}
    <textarea name="text">
    </textarea>
    <input type="submit" value="Comentar">
</form>


{% endblock %}